$site-blue: #79addc;
$white: #fff;
$black: #000;
$hero-black: rgba(0, 0, 0, 0.4);
$overlay-black: rgba(0, 0, 0, 0.5);
$link-color: #fff;

$info1a-height: 58px;
$info1a-width: 344px;
$info1b-height: 58px;
$info1b-width: 453px;
$info2-height: 58px;
$info2-width: 698px;
$info3-height: 58px;
$info3-width: 103px;
$info4-height: 192px;
$info4-width: 818px;
